<div id="download">
  <script src="/download.js"></script>
  <div id="download-page-one">
    <div class="title">
      <span id="dl-file"
            data-filename="{{filename}}"
            data-size="{{sizeInBytes}}"
            data-ttl="{{ttl}}"
            data-l10n-id="downloadFileName"
            data-l10n-args='{{filenameJson}}'></span>
      <span id="dl-filesize"></span>
    </div>
    <div class="description" data-l10n-id="downloadMessage"></div>
    <img src="/resources/illustration_download.svg" id="download-img" data-l10n-id="downloadAltText"/>
    <div>
      <button id="download-btn" data-l10n-id="downloadButtonLabel"></button>
    </div>
  </div>

  <div id="download-progress" hidden="true">
    <div id="dl-title" class="title"></div>
    <div class="description" data-l10n-id="downloadingPageMessage"></div>
    <!-- progress bar here -->
    <div class="progress-bar" id="dl-progress">
      <div class="percentage">
        <span class="percent-number"></span>
        <span class="percent-sign">%</span>
      </div>
    </div>
    <div class="upload">
      <div class="progress-text">{{filename}}</div>
    </div>
  </div>

  <a class="send-new" data-state="completed" data-l10n-id="sendYourFilesLink" href="/"></a>
</div>
